@import '@/sass/master';

.boardWrapper {
  @include flexbox(column, center, center, 0);

  > table {
    background-color: map-get($colors, purewhite);
    border-spacing: 0;
    border-collapse: collapse;

    td {
      border: 0.2rem solid black;
      text-align: center;
    }

    &.small {
      td {
        width: 13rem;
        height: 12rem;
      }
    }

    &.medium {
      td {
        width: 7.7rem;
        height: 7.2rem;
      }
    }

    &.large {
      td {
        width: 5.5rem;
        height: 5.15rem;
      }
    }
  }

  .actionsWrapper {
    width: 99%;
    @include flexbox(row, center, center, 0);
  }

  // RESPONSIVE
  @media (max-width: 1024px) {
    > table {
      &.small {
        td {
          width: 18rem;
          height: 17rem;
        }
      }

      &.medium {
        td {
          width: 10.7rem;
          height: 10.2rem;
        }
      }

      &.large {
        td {
          width: 7.5rem;
          height: 7.15rem;
        }
      }
    }
  }

  @media (max-width: 768px) {
    > table {
      &.small {
        td {
          width: 15rem;
          height: 14rem;
        }
      }

      &.medium {
        td {
          width: 8.7rem;
          height: 8.2rem;
        }
      }

      &.large {
        td {
          width: 6.5rem;
          height: 6.15rem;
        }
      }
    }
  }

  @media (max-width: 568px) {
    > table {
      &.small {
        td {
          width: 12rem;
          height: 11rem;
        }
      }

      &.medium {
        td {
          width: 7rem;
          height: 6.4rem;
        }
      }

      &.large {
        td {
          width: 5rem;
          height: 4.5rem;
        }
      }
    }
  }
}
