@import '@/sass/master';

.gameBoardWrapper {
  min-width: 44.5rem;
  max-width: 44.5rem;
  height: 44.5rem;
  border: 0.1rem solid map-get($colors, gray);
  background-color: map-get($colors, black);
  position: relative;

  @include flexbox(row, center, center, 0);
  font-size: map-get(map-get($font, sizes), large);

  .splashScreenArea,
  .optionsScreenArea {
    height: 100%;
    width: 100%;
  }

  // RESPONSIVE
  @media (max-width: 1024px) {
    min-width: 60rem;
    max-width: 60rem;
    height: 60rem;
  }

  @media (max-width: 768px) {
    min-width: 50rem;
    max-width: 50rem;
    height: 50rem;
  }

  @media (max-width: 568px) {
    min-width: 40rem;
    max-width: 40rem;
    height: 40rem;
  }
}
