@import '@/sass/master';

.headerWrapper {
  background-color: map-get($colors, lightgray);
  height: 7.5rem;
  width: 100%;
  @include flexbox(row, center, space-between, 0);
  transition: map-get($transition, default);

  &.translucid {
    background: rgba(201, 201, 201, 0.25);
    box-shadow: 0 0.3rem 1.5rem -0.5rem map-get($colors, darkestgray);
  }

  .headerTitleWrapper {
    width: 100%;
    @include flexbox(column, flex-end, center, 0);
    font-size: map-get(map-get($font, sizes), small);
  }

  // RESPONSIVE
  @media (max-width: 1024px) {
    height: 15rem;

    .headerTitleWrapper {
      font-size: map-get(map-get($font, sizes), large);
    }
  }

  @media (max-width: 768px) {
    height: 20rem;
    @include flexbox(column, center, center, map-get($spacings, medium));

    h2 {
      text-align: center;
    }

    .headerTitleWrapper {
      align-items: center;
      font-size: map-get(map-get($font, sizes), medium);
    }
  }
}
